<%= form_for(@game) do |f| %>
  <% if @game.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@game.errors.count, "error") %> prohibited this game from being saved:
      </h2>
      <ul>
        <% @game.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.fields_for :names do |builder| %>
      <%= render 'name_fields', f: builder %>
    <% end %>
  </div>
  <%= link_to_add_fields "Add Name", f, :names %>

  <div class="field">
    <%= f.collection_select :tag_ids, Tag.all, :id, :name, {}, {multiple:true} %><br>
    <%= f.fields_for :tags do |tag_form| %>
      <p>Add a new tag:</p><br>
      <%= tag_form.label :name %>
      <%= tag_form.text_field :name %>
    <% end %>
  </div>

  <div class="field">
    <%= f.label :relation_ids, "Related Game:" %>
    <%= f.collection_check_boxes :relation_ids, Game.all, :id, :most_popular_name_content, :include_blank => "select game (optional)"%>
  </div>

  <div class="field"> <%= f.label :description %><br>
  <%= f.text_area :description %></div>

  <div class="field"><%= f.label :example, "Example" %><br>
  <%= f.text_area :example %></div>

  <div class="field"><%= f.label :minimum, "Minimum number of players" %><br>
  <%= f.number_field :minimum %></div>

  <div class="field"><%= f.label :maximum, "Maximum number of players" %><br>
  <%= f.number_field :maximum %></div>

  <div class="field">
    <%= f.label :is_an_exercise, "Is this an excercise? (check box if yes)" %>
    <%= f.check_box :is_an_exercise %>
  </div>

  <div class="field">
    <input id="game_all_ages" name="all_ages" type="checkbox"/>
    <label for="all_ages">All ages</label>
  </div>

  <div class="field"><%= f.check_box :early_childhood %>
  <%= f.label :early_childhood %></div>

  <div class="field"><%= f.check_box :elementary_school %>
  <%= f.label :elementary_school %></div>
  
  <div class="field"><%= f.check_box :middle_school %>
  <%= f.label :middle_school %></div>

  <div class="field"><%= f.check_box :high_school %>
  <%= f.label :high_school %></div>

  <div class="field"><%= f.check_box :college %>
  <%= f.label :college %></div>

  <div class="field"><%= f.check_box :adulthood %>
  <%= f.label :adulthood %></div>

  <div class="actions"><%= f.submit 'Submit', :class => 'btn btn-primary' %></div>

<% end %>
