<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @game.most_popular_name.content %>
</p>

<p>
  <% if @game.less_popular_names %>
    <strong>Also known as:</strong>
    <ul>
      <%= @game.less_popular_names.each do |name|%>
        <li>name.content</li>
      <% end %>
    </ul>
  <% end %>
</p>

<p>
  <strong>Description:</strong>
  <%= @game.description %>
</p>

<p>
  <strong>Maximum:</strong>
  <%= @game.maximum %>
</p>

<p>
  <strong>Minimum:</strong>
  <%= @game.minimum %>
</p>

<p>
  <strong>Early childhood:</strong>
  <%= @game.early_childhood %>
</p>

<p>
  <strong>Elementary school:</strong>
  <%= @game.elementary_school %>
</p>

<p>
  <strong>Middle school:</strong>
  <%= @game.middle_school %>
</p>

<p>
  <strong>High school:</strong>
  <%= @game.high_school %>
</p>

<p>
  <strong>College:</strong>
  <%= @game.college %>
</p>

<p>
  <strong>Adulthood:</strong>
  <%= @game.adulthood %>
</p>

<p>
  <strong>Type:</strong>
  <%= @game.is_an_exercise ? "exercise" : "game" %>
</p>

<p>
  <strong>Tags:</strong>
  <ul>
    <% @game.tags.each do |tag| %>
      <li><%= tag.name %></li>
    <% end %>
  </ul>
</p>

<p>
  <strong>Variations:</strong>
  <ul>
    <% if @game.variations.length > 0 %>
      <% @game.variations.each do |var| %>
        <li><%= var.content %></li>
      <% end %>
    <% else %>
      <li>none</li>
    <% end %>
  </ul>
</p>

<p>
  <strong>Tips:</strong>
  <ul>
    <% if @game.tips.length > 0 %>
      <% @game.tips.each do |tip| %>
        <li><%= tip.content %></li>
      <% end %>
    <% else %>
      <li>none</li>
    <% end %>
  </ul>
</p>

<p>
  <strong>See also:</strong>
  <ul>
    <% for relationship in @game.relationships %>
      <li>
        <%= relationship.relation.most_popular_name %>
        (<%= link_to "remove", relationship, :method => :delete %>)
      </li>
    <% end %>
  </ul>
</p>