<p id="notice"><%= notice %></p>

<p>
  <strong><%= @game.most_popular_name.content %></strong>
  (<%= @game.is_an_exercise ? "exercise" : "game" %>)
</p>

<p>
  <% if @game.less_popular_names %>
    <strong>Also known as:</strong>
    <ul>
      <% @game.less_popular_names.each do |name|%>
        <li><%= name.content %></li>
      <% end %>
    </ul>
  <% end %>
</p>

<p>
  <strong>Description:</strong>
  <%= @game.description %>
</p>

<p>
  <strong>Example:</strong>
  <%= @game.example %>
</p>

<p>
  <strong>Number of Players:</strong>
    <%= @game.minimum %> - <%= @game.maximum %>
</p>

<% if @game.all_ages? %>
  <p><strong>Age Group:</strong>
    All ages
  </p>
<% else %>
  <p>
    <strong>Early childhood:</strong>
    <%= @game.early_childhood %>
  </p>

  <p>
    <strong>Elementary school:</strong>
    <%= @game.elementary_school %>
  </p>

  <p>
    <strong>Middle school:</strong>
    <%= @game.middle_school %>
  </p>

  <p>
    <strong>High school:</strong>
    <%= @game.high_school %>
  </p>

  <p>
    <strong>College:</strong>
    <%= @game.college %>
  </p>

  <p>
    <strong>Adulthood:</strong>
    <%= @game.adulthood %>
  </p>
<% end %>

<p>
  <strong>Tags</strong>
  <ul>
    <% @game.tags.each do |tag| %>
      <li><%= tag.name %></li>
    <% end %>
  </ul>
</p>

<p>
  <strong>Variations</strong>
  <ul>
    <% @game.variations.each do |var| %>
      <li><%= var.content %></li>
    <% end %>
  </ul>
</p>

<p>
  <strong>Tips</strong>
  <ul>
    <% @game.tips.each do |tip| %>
      <li><%= tip.content %></li>
    <% end %>
  </ul>
</p>

<p>
  <strong>See also</strong>
  <ul>
    <% for relationship in @game.relationships %>
      <li>
        <a href="/games/<%= relationship.relation.id %>"><%= relationship.relation.most_popular_name.content %></a>
      </li>
    <% end %>
  </ul>
</p>