<!DOCTYPE html>
<html>
  <head>
    <title>Bentwood Chairs</title>
    <%= stylesheet_link_tag    "application", media: "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <%= analytics_init if Rails.env.production? %>
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet"></link>
  </head>
  <body>
    <!--  navbar -->
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a href="/" class="navbar-brand">Bentwood Chairs</a>
        </div>
        <div class="navbar-collapse collapse">
           <ul class="nav navbar-nav">
            <li class="<%= is_active?("/about") %>">
              <a href="/about">About</a>
            </li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <% if !current_user %>
              <li><%= link_to "Sign in with Facebook", "/auth/facebook", id: "sign_in" %></li>
            <% end %>
            <li class="<%= is_active?("/") %>">
              <a href="/">Home</a>
            </li>
            <li class="<%= is_active?("/games/new") %>">
              <a href="/games/new">Add Game</a>
            </li>
            <li><a href="/games-angular">Browse</a></li>
            <% if current_user %>
              <li class="<%= (controller.controller_name.eql?("users") && controller.action_name.eql?("show") )? "active" : "" %>">
                <%= link_to "Logged in as #{current_user.name}", user_path(current_user) %>
              </li>
              <li><%= link_to "Sign out", signout_path, id: "sign_out" %></li>
            <% end %>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>

    <!-- content -->
    <div class="container pad-this-thingy" role="main">
      <div id="user-widget">

      </div>
      <%= yield %>
    </div>

  </body>
</html>